.list-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}



.empty {
  opacity: 0.6;
}

.filter {
  width: 200px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 16px;
}
