
:root {
  --primary: #ff7b00;
  --primary-dark: #cc6300;
  --bg-light: #f5f5f5;
  --card-bg: #ffffff;
  --radius: 10px;
}


body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-image: url("/moroccan-flower.png");
  background-repeat: repeat;
  background-size: 500px;
}

/* contenedor principal*/
.app-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(4px);
  border-radius: var(--radius);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}

/* titulo */
.title {
  font-size: 2.3rem;
  margin-bottom: 25px;
  font-weight: 700;
}

/* formulario */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-container input {
  padding: 12px;
  border-radius: var(--radius);
  border: 1px solid #ccc;
  font-size: 1rem;
}

/* boton de agregar tareas*/
.add-btn {
  background: var(--primary);
  color: white;
  border: none;
  padding: 12px;
  border-radius: var(--radius);
  cursor: pointer;
  font-size: 1rem;
  transition: 0.2s ease;
}

.add-btn:hover {
  background: var(--primary-dark);
}

/* select */
.filter-select {
  padding: 10px;
  border-radius: var(--radius);
  border: 1px solid #ccc;
  font-size: 1rem;
}

/* lista de tareas */
.todo-item {
  background: var(--card-bg);
  padding: 14px;
  margin: 12px 0;
  border-radius: var(--radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
}

.todo-text {
  flex: 1;
  text-align: left;
  font-size: 1rem;
}

/* tarea completada */
.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

/*botones*/
.todo-actions {
  display: flex;
  gap: 10px;
}

.btn-action {
  border: none;
  padding: 8px 10px;
  border-radius: var(--radius);
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.2s ease;
}

/* botones*/
.complete-btn {
  background: #37b24d;
  color: white;
}

.complete-btn:hover {
  background: #2f9e44;
}

.edit-btn {
  background: #ffd43b;
  color: black;
}

.edit-btn:hover {
  background: #fcc419;
}

.delete-btn {
  background: #ff6b6b;
  color: white;
}

.delete-btn:hover {
  background: #f03e3e;
}

