* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f3f4f6;
  padding: 20px;
}
body {
  background-image: url("/moroccan-flower.png");
  background-repeat: repeat;
  background-size: 500px;
  font-family: "Poppins", sans-serif;
}
